@font-face {
  font-family: 'BaronNeue';
  src: url('../fonts2/baron_neue-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts2/baron_neue-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts2/baron_neue-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts2/baron_neue-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts2/baron_neue-webfont.svg#e7e76726b52b24340e36fa451a09964f') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'BaronNeueBlack';
  src: url('../fonts2/baron_neue_black-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts2/baron_neue_black-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts2/baron_neue_black-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts2/baron_neue_black-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts2/baron_neue_black-webfont.svg#87724add820a29f4ad643303e97f652d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'BaronNeueBold';
  src: url('../fonts2/baron_neue_bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts2/baron_neue_bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts2/baron_neue_bold-webfont.woff') format('woff'), /* Modern Browsers */
       url('../fonts2/baron_neue_bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts2/baron_neue_bold-webfont.svg#92b96ab1365af567b5c30a5d7d8f9075') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'NexaBold';
  src: url('../fonts2/Nexa Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts2/Nexa Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts2/Nexa Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts2/Nexa Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts2/Nexa Bold.svg#7a6e0a27b48926c5216e096daa3e1570') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'NexaLight';
  src: url('../fonts2/Nexa Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts2/Nexa Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts2/Nexa Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts2/Nexa Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts2/Nexa Light.svg#8daeb39b16ba4fbde275db0ba71a5206') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}

@font-face {
  font-family: 'OratorStd';
  src: url('../fonts2/OratorStd.eot'); /* IE9 Compat Modes */
  src: url('../fonts2/OratorStd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts2/OratorStd.woff') format('woff'), /* Modern Browsers */
       url('../fonts2/OratorStd.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts2/OratorStd.svg#4bdd4a1e49cb360781229d11917cd5f4') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'OratorStdSlanted';
  src: url('../fonts2/OratorStd-Slanted.eot'); /* IE9 Compat Modes */
  src: url('../fonts2/OratorStd-Slanted.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts2/OratorStd-Slanted.woff') format('woff'), /* Modern Browsers */
       url('../fonts2/OratorStd-Slanted.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts2/OratorStd-Slanted.svg#de86ea2e26e072b9ff58568a5967db0b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}


*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	color: #333333;
}

body{
	position: relative;
	width: 100%;
}

.clearfix{
	width: 100%;
	height: 0px;
	display: block;
	float: none;
}

.top-brand-bar{
	width: 100%;
	background: white;
	position: absolute;
	left: 0;
	top: 0;
	padding: 20px 45px;
	border-bottom: 7px solid #DADBDC;
	z-index: 999;
	img{
		display: block;
		margin: 0 auto;
	}
}

#section0{
	height: 750px !important;
	.fp-tableCell{
		display: table;
	}
}

.video-bgbox{
	width: 100%;
	height: 327px;
	background: red;
	position: relative;
	top: 100px;
	left: 0;
	display: block;
	background: url('../images/sectionA-bg.jpg') no-repeat left top;
	-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	 border-bottom: 7px solid #DADBDC;
	a{
		width: 100%;
		text-align: center;
		display: block;
		margin: 0 auto;
		position: relative;
		top: 45%;
	}
}

.pug-seal-deco{
	width: 100%;
	height: 98px;
	position: relative;
	top: 100px;
	display: block;
	background: white url('../images/barrawho.jpg') no-repeat center 20px;
	background-size: auto 68px;
	padding-top: 20px;
	overflow: hidden;
}

.text-bx-0{
	position: relative;
	top: 100px;
	display: block;
	text-align: center;
	h1{
		font-family: 'BaronNeue';
		font-size: 17px;
		letter-spacing: 8px;
		padding: 30px 10px;
	}
	p{
		font-family: 'BaronNeue';
		letter-spacing: 6px;
		padding: 10px;
		max-width: 600px;
		margin: 0 auto;
		font-size: 14px;
		em{
			font-family: 'OratorStd';
		}
	}
}

#section1{
	height: 550px !important;
	.allanpoe-bx{
		position: absolute;
		left: 0;
		top: 100px;
		.allanpoe-v{
			position: absolute;
			left: 25px;
			top: 10px;
		}
		.allanpoe-a{
			position: absolute;
			left: 165px;
			top: 70px;
		}
	}
	.belisario-bx{
		position: absolute;
		left: 40%;
		top: 100px;
		.belisario-v{
			position: absolute;
			left: 15px;
			top: 15px;
		}
		.belisario-a{
			position: absolute;
			right: -165px;
			top: 75px;
		}
	}
	.tennyson-bx{
		position: absolute;
		left: 55%;
		bottom: -5px;
		.tennyson-v{
			position: absolute;
			right: -15px;
			bottom: 15px;
		}
		.tennyson-a{
			position: absolute;
			right: -45px;
			top: 0;
		}
	}
	.text-bx-1{
		position: absolute;
		left: 25%;
		bottom: 80px;
		display: block;
		text-align: right;
		h1{
			font-family: 'BaronNeue';
			font-size: 25px;
			letter-spacing: 4px;
			padding: 15px 10px;
			text-transform: uppercase;
			margin-right: -50px;
		}
		p{
			font-family: 'OratorStdSlanted';
			padding: 10px;
			max-width: 300px;
			margin: 0 auto;
			font-size: 11px;
			font-weight: 700;
		}
	}
	
}



